__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so

*.log
*.pot
*.pyc
*.manifest
*.spec
db.sqlite3
db.sqlite3-journal
coverage/
*.coverage

static/
staticfiles/
media/

venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

/.environment/.env.django 
/.environment/.env.postgres 

!.environment/.env.django.example
!.environment/.env.postgres.example

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini

dist/
build/
.tmp/
.sass-cache/
