__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so

dist/
build/
.tmp/
.sass-cache/

*.log
*.pot
*.pyc
*.manifest
*.spec

db.sqlite3
db.sqlite3-journal
coverage/
*.coverage

static/
staticfiles/
media/

venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini

.environment/**/*

!/.environment/django/
!/.environment/postgres/
!/.environment/rabbitmq/
!/.environment/**/.env.*.example
