__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

*.log

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

*.dockerignore
*.env
docker-compose.override.yml

.environment/**/*

!/.environment/flask/
!/.environment/postgres/
!/.environment/rabbitmq/

!/.environment/**/.env.*.example
!/.environment/**/init.sql

.environment/Flask/.env.flask
.environment/postgres/.env.postgres
.environment/rabbitmq/.env.rabbitmq

migrations/__pycache__/
migrations/*.pyc